!!!
%head
  %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
      %title CS Homework
      %link{:href => "/hpomework.css", :rel => "stylesheet"}
      %link{:href => "http://twitter.github.com/bootstrap/assets/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css", :rel => "stylesheet", :type => "text/css"}
      %script{:src => "http://twitter.github.com/bootstrap/assets/js/bootstrap.js", :type => "text/javascript"}
%body
  %h1
    Header 1
  %h2
    Header 2
  %h3
    Header 3
  %h4
    Header 4
  %h5
    Header 5
  %h6
    Header 6
  %p 
    Paragraph Tag

%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
%script{:src => "homework.js"}